.app {
  min-height: 100vh;
  /* width: 100%; */

  display: flex;
  flex-direction: column;

  background: var(--background);

  transition:
    background 0.3s ease,
    color 0.3s ease;

  overflow-x: hidden;
}

/*
|--------------------------------------------------------------------------
| Global Layout Wrapper
|--------------------------------------------------------------------------
|
| Navbar is fixed/floating.
| Body and Footer are centered.
|
*/

.app > * {
  /* width: 100%; */
  box-sizing: border-box;
}

/*
|--------------------------------------------------------------------------
| Desktop
|--------------------------------------------------------------------------
*/

@media (min-width: 1600px) {
  .app {
    align-items: center;
  }
}

/*
|--------------------------------------------------------------------------
| Tablet
|--------------------------------------------------------------------------
*/

@media (max-width: 1024px) {
  .app {
    overflow-x: hidden;
  }
}

/*
|--------------------------------------------------------------------------
| Mobile
|--------------------------------------------------------------------------
*/

@media (max-width: 768px) {
  .app {
    overflow-x: hidden;
  }
}

/*
|--------------------------------------------------------------------------
| Small Mobile
|--------------------------------------------------------------------------
*/

@media (max-width: 480px) {
  .app {
    overflow-x: hidden;
  }
}